* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.titulo {
  text-align: center;
  margin: 10px auto 20px;
  text-transform: uppercase;
  color: rgb(0, 0, 177);
}

.box-header {
  width: 100%;
  height: 150px;
  background-color: blueviolet;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-header ul {
  display: flex;
  gap: 25px;
}

.box-header ul li {
  list-style: none;
}

.box-header ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.box-header ul li a:hover {
  text-decoration: underline;
  color: rgba(206, 191, 191, 0.836);
}

.rodape {
  width: 100%;
  height: 150px;
  background-color: blueviolet;
}

.rodape address {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

@media (max-width: 640px) {
  .titulo {
    font-size: 18px;
  }

  .box-header {
    height: 100px;
  }

  .box-header ul li a {
    font-size: 18px;
  }

  .rodape address {
    font-size: 15px;
  }

  .rodape address h1 {
    font-size: 20px;
  }
}
