* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 177);
}

.titulo {
  text-align: center;
  margin: 10px auto 20px;
  text-transform: uppercase;
}

.box-header {
  width: 100%;
  height: 150px;
  background-color: rgb(243, 26, 26);
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-header ul {
  display: flex;
  gap: 15px;
}

.box-header ul li {
  list-style: none;
}

.box-header ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.box-header ul li a:hover {
  color: white;
}

@media (max-width: 640px) {
  .box-header {
    height: 100px;
  }

  .box-header ul li a {
    font-size: 18px;
  }
}
